# Basics of Table

In [ ]:
***In order to create a table in HTML, we use <table> tag.***
***The <tr> tag is used to define each table row.***
***The <th> tag defines a table header.***
A table cell is defined with the <td> tag.

In [ ]:
<!DOCTYPE html>
<html>
   <body>
      <table>
         <tr>
            <th>Day</th>
            <th>Lesson</th>
         </tr>
         <tr>
            <td>Monday</td>
            <td>Java</td>
         </tr>
         <tr>
            <td>Tuesday</td>
            <td>HTML</td>
         </tr>
         <tr>
            <td>Wednesday</td>
            <td>CSS</td>
         </tr>
      </table>
   </body>
</html>

# Table Border

In [ ]:
We can ***add border to table with border attribute*** in table tag like example below.
<table border="number">

In [ ]:
Avoid:
The border attribute is not supported in HTML5. Use CSS instead.

In [ ]:
<!DOCTYPE html>
<html>
   <body>
      <h1>Course Program</h1>
      <table border="1">
         <tr>
            <th>Day</th>
            <th>Lesson</th>
         </tr>
         <tr>
            <td>Monday</td>
            <td>Java</td>
         </tr>
         <tr>
            <td>Tuesday</td>
            <td>HTML</td>
         </tr>
         <tr>
            <td>Wednesday</td>
            <td>CSS</td>
         </tr>
      </table>
   </body>
</html>

In [ ]:
Course Program
Day	Lesson
Monday	Java
Tuesday	HTML
Wednesday	CSS

# Colspan Attribute

In [ ]:
We can ***span two or more columns*** by using the colspan attribute like example below.
< td colspan="2" >Java< /td >

In [ ]:
<!DOCTYPE html>
<html>
   <body>
      <h1>Course Program</h1>
      <table border="1">
         <tr>
            <th>Day</th>
            <th>Lesson-1</th>
            <th>Lesson-2</th>
         </tr>
         <tr>
            <td>Monday</td>
            <td colspan="2">Java</td> 
         </tr>
         <tr>
            <td>Tuesday</td>
            <td>Maven</td>
            <td>Gradle</td>
         </tr>
         <tr>
            <td>Wednesday</td>
            <td>HTML</td>
            <td>CSS</td>
         </tr>
      </table>
   </body>
</html>

In [ ]:
Course Program
Day	Lesson-1	Lesson-2
Monday	Java
Tuesday	Maven	Gradle
Wednesday	HTML	CSS

# Rowspan Attribute

In [ ]:
We can span two or more rows by using the rowspan attribute

In [ ]:
< td rowspan="2" >Java< /td >

In [ ]:
<!DOCTYPE html>
<html>
   <body>
      <h1>Course Program</h1>
      <table border="1">
         <tr>
            <th>Day</th>
            <th>Lesson-1</th>
            <th>Lesson-2</th>
         </tr>
         <tr>
            <td>Monday</td>
            <td>Java</td> 
            <td>Git</td>
         </tr>
         <tr>
            <td rowspan="2">Tuesday</td>
            <td>Maven</td>
            <td>Gradle</td>
         </tr>
         <tr>
            <td>HTML</td>
            <td>CSS</td>
         </tr>
      </table>
   </body>
</html>

In [ ]:
Course Program
Day	Lesson-1	Lesson-2
Monday	Java	Git
Tuesday	Maven	Gradle
        HTML	CSS

# Align Attribute

In [ ]:
To ***change table or cell position***, we can use the align attribute inside <table> tag or <td> tag.
<td align="center">java</td >

In [ ]:
<!DOCTYPE html>
<html>
   <body>
      <h1>Course Program</h1>
      <table border="1">
         <tr>
            <th>Day</th>
            <th>Lesson-1</th>
            <th>Lesson-2</th>
         </tr>
         <tr>
            <td>Monday</td>
            <td align="center" colspan="2" >Java</td> 
         </tr>
         <tr>
            <td>Tuesday</td>
            <td>Maven</td>
            <td>Gradle</td>
         </tr>
         <tr>
            <td>Wednesday</td>
            <td>HTML</td>
            <td>CSS</td>
         </tr>
      </table>
   </body>
</html>

In [ ]:
Course Program
Day 	     Lesson-1  	  Lesson-2
Monday	            Java
Tuesday 	 Maven  	   Gradle
Wednesday	 HTML   	   CSS